body {
  background-image: url('/learn.jpg');
}
.my-image {
  max-height: 25vh;
  height:auto;
  width: auto;
-o-object-fit: cover;
 object-fit: cover;
 overflow: hidden;

}

/*.tl{
  min-width: 100%;
  position: absolute;
  z-index: -100;
}*/

.fa-instagram {
  color: rgb(255, 100, 255); }
.card {
}
